{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1 class="text-center">Euro Score Tracker!</h1>
    <div class="container-fluid">
        <div class="row">
            {% for player in players %}
            
            <div class="col-6 text-center">
                    <h5>{{player.name_of_person}}</h5>
                        <div class="myProgress">
                            <div class="myBar {{player.name_of_person}}">{{player.current_score}}</div>
                        </div>
                        <input type="number" id="{{player.name_of_person}}_score" class="hide" value="{{player.current_score}}">
            </div>          
            
                {% endfor %}
        </div>

        <div class="row mt-5 text-center">
            <div class="col-3"><h5>Name</h5></div>
            <div class="col-3"><h5>Team 1</h5></div>
            <div class="col-3"><h5>Team 2</h5></div>
            <div class="col-3"><h5>Team 3</h5></div>
        
        {% for person in teams %}
            <div class="col-3">{{person.name_of_person}}</div>
            <div class="col-3">{{person.team_1}}</div>
            <div class="col-3">{{person.team_2}}</div>
            <div class="col-3">{{person.team_3}}</div>
        {% endfor %}
        </div>
    </div>
    
{% endblock %}

