.myProgress {
  width: 100%;
  background-color: lightblue;
}

.myBar {
  text-align: center;
  width: 0%;
  height: 30px;
  background-color: green;
  color: white;
}

.hide{
    display: none;
}

.greyed {
    color: lightgrey;
}